In [1]:
import requests
import pandas as pd

url = "https://api.sportradar.com/tennis/trial/v3/en/competitions.json?api_key=gCNmEyNAwK1dQ2CMzKHz8bzSBjT7uNx77cdZNAEn"

headers = {"accept": "application/json"}

response = requests.get(url, headers=headers)
data=response.json()

In [9]:
Id=[]
Name=[]
c_id=[]
c_name=[]
type=[]
gender=[]
parent_id=[]

for i in data['competitions']:
    Id.append(i['id'].split(':')[-1])

    Name.append(i['name'])
    c_id.append(i['category']['id'].split(':')[-1])
    type.append(i['type'])
    c_name.append(i['category']['name'])
    gender.append(i['gender'])
    parent_id.append(i.get('parent_id', None).split(':')[-1] if i.get('parent_id', None) is not None else None)

In [42]:
data_dict={'category_id':c_id,
'category_name':c_name}

In [43]:
df_category_table=pd.DataFrame(data_dict)

In [45]:
df_category_table=df_category_table.drop_duplicates(subset=['category_id'])

In [191]:
data_dict2={'competition_id':Id,
           'competition_name':Name,
           'gender':gender,
           'parent_id':parent_id,
           'type':type,
           'category_id':c_id}

In [192]:
df_competition_Table=pd.DataFrame(data_dict2)

In [193]:
from sqlalchemy import create_engine

In [63]:
engine=create_engine('postgresql://postgres:1997@localhost:5432/Project')

In [64]:
from sqlalchemy import text
import psycopg2

In [ ]:
df_category_table.to_sql('category_table',engine,if_exists='replace',index=False)

In [ ]:
df_competition_Table.to_sql('competition_table',engine,if_exists='replace',index=False)

Next Project titile

In [67]:
import requests

url = "https://api.sportradar.com/tennis/trial/v3/en/complexes.json?api_key=gCNmEyNAwK1dQ2CMzKHz8bzSBjT7uNx77cdZNAEn"

headers = {"accept": "application/json"}

response = requests.get(url, headers=headers)
data2=response.json()

In [104]:
complex_id=[]
complex_name=[]

In [110]:
data_compex={'complex_id':complex_id,
             'complex_name':complex_name}

In [111]:
comp_table=pd.DataFrame(data_compex)

In [169]:
comp_table.to_sql('complexes_table',engine,if_exists='replace',index=False)

632

In [105]:
for i in data2['complexes']:
    complex_id.append(i['id'].split(':')[-1])
    complex_name.append(i['name'])

In [208]:
venues_id=[]
venues_name=[]
city_name=[]
country_name=[]
country_code=[]
timezone=[]
complex_id=[]

In [209]:
for i in data2['complexes']:
    for j in i.get('venues',[]):
        venues_id.append(j.get('id',None).split(':')[-1])
        venues_name.append(j.get('name',None))
        city_name.append(j.get('city_name',None))
        country_name.append(j.get('country_name',None))
        country_code.append(j.get('country_code',None))
        timezone.append(j.get('timezone',None))
        complex_id.append(i.get('id',None).split(':')[-1])

In [210]:
venues_table={'venues_id':venues_id,
              'venues_name':venues_name,
              'city_name':city_name,
              'country_name':country_name,
              'country_code':country_code,
              'timezone':timezone,
              'complex_id':complex_id}

In [211]:
df_venues_table=pd.DataFrame(venues_table)

In [212]:
df_venues_table.to_sql('venues_table' , engine, if_exists='replace',index=False)

212

In [185]:
df_venues_table

,venues_id,venues_name,city_name,country_name,country_code,timezone,complex_id
0,70045,Cancha Central,Santiago,CHL,CHL,America/Santiago,705
1,74856,Centre Court,Seville,ESP,ESP,Europe/Madrid,1078
2,74858,Court One,Seville,ESP,ESP,Europe/Madrid,1078
3,1496,COURT 1,Saint Petersburg,RUS,RUS,Europe/Moscow,1495
4,1500,CENTER COURT,Saint Petersburg,RUS,RUS,Europe/Moscow,1495
...,...,...,...,...,...,...,...
3207,81721,Bloomington - Court 7,Bloomington,USA,USA,America/New_York,81717
3208,81723,Bloomington - Court 6,Bloomington,USA,USA,America/New_York,81717
3209,81725,Bloomington - Court 5,Bloomington,USA,USA,America/New_York,81717
3210,81765,Center Court,Singapore City,SGP,SGP,Asia/Singapore,81751
3211,81767,Court 1,Singapore City,SGP,SGP,Asia/Singapore,81751

Next project

In [ ]:
import requests

url = "https://api.sportradar.com/tennis/trial/v3/en/double_competitors_rankings.json?api_key=gCNmEyNAwK1dQ2CMzKHz8bzSBjT7uNx77cdZNAEn"

headers = {"accept": "application/json"}

response = requests.get(url, headers=headers)
data3=response.json()
data3

In [130]:
rank=[]
movement=[]
point=[]
competitions_played=[]
competitor_id=[]

In [131]:
for i in data3['rankings']:
    for j in i.get('competitor_rankings',[]):
        rank.append(j.get('rank',None))
        movement.append(j.get('movement',None))
        point.append(j.get('points',None))
        competitions_played.append(j.get('competitions_played',None))
        competitor = j.get('competitor', {}) 
        competitor_id.append(competitor.get('id', None).split(':')[-1])
        #

In [132]:
data3_dict={'rank':rank,
            'movement':movement,
            'point':point,
            'competitions_played':competitions_played,
            'competitor_id':competitor_id}

In [133]:
Competitor_Rankings =pd.DataFrame(data3_dict)

In [134]:
Competitor_Rankings

     rank  movement  point  competitions_played competitor_id
0       1         0   7530                   22         49363
1       1         0   7530                   22         51836
2       3         0   7075                   30        637970
3       4         0   7055                   28         14898
4       5         0   6475                   21         87690
..    ...       ...    ...                  ...           ...
995   497       -38    124                   14        230108
996   498         0    124                   15        720627
997   499         0    124                   21        360054
998   500         4    123                    5         90814
999   501        -1    123                   17        299308

[1000 rows x 5 columns]

In [135]:
Competitor_Rankings.to_sql('competitor_rankings_table',engine,if_exists='replace',index=False)

1000

In [160]:
competitor_id=[]
name=[]
country=[]
country_code=[]
abbreviation=[]

In [ ]:
for i in data3['rankings']:
    for j in i.get('competitor_rankings',[]):
        competitor=j.get('competitor',{})
        competitor_id.append(competitor.get('id').split(':')[-1])
        name.append(competitor.get('name'))
        country.append(competitor.get('country'))
        country_code.append(competitor.get('country_code'))
        abbreviation.append(competitor.get('abbreviation'))

In [ ]:
data3_dcit2={'competitor_id':competitor_id,
             'name':name,
             'country':country,
             'country_code':country_code,
             'abbreviation':abbreviation}

In [166]:
Competitors =pd.DataFrame(data3_dcit2)

In [167]:
df_c_t=Competitors.drop_duplicates(subset='competitor_id')

In [168]:
df_c_t.to_sql('competitors_table',engine,if_exists='replace',index=False)

1000